*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url("images/882.jpg");
    background-size: 2000px;
    background-repeat: repeat;
}

.topwall{
    background-image: url("images/wallthing_scaled.png");
    background-size: 200%;
    position: absolute;
    
    left: 0px;
    top: 0%;

    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    color: rgba(255, 255, 255, 0.623);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    text-decoration: none;
}
a:visited { color: rgba(255, 255, 255, 0.623); }

.topbutton{
    position: relative;
    padding: 15px 5px;
    font-size: 18px;
    text-align: center;
    border: none;
    transition: ease-in-out 0.3s;
    
}
.topbutton::after{
    transform: scale(0,1);
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.623);
    height: 2px;
    width: 100%;
    left: 0%;
    bottom: 15%;
    transition: ease-in-out 0.3s;
}
.topbutton:hover{
    color: rgb(255, 255, 255);
}
.topbutton:hover::after{
    transform: scale(1,1);
    background: rgb(255, 255, 255);
}

.panneau{
    border-radius: 20%;
    background: #535614;
    width: 25%;
    height: 70%;
}

.contenu{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background-color: #057e0760;
}

.left-container{
    left: 0%;
}
.right-container{
    left: 50%;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size:15px;
}